


<div class="center hero-unit">
    <h1>Welcome! </h1>
    <p>to <%= link_to 'Post your bride pictures',  "http://brides-top.com" %>
     </p>

    <p> <%= link_to 'Jump in!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>
