<div class="footer">
  <small>
    <%= link_to "Show the world - your beauty, come in touch!", "http://brides-top.com" %>

    by <%= link_to "Adrian Mitrea", "http://Adrian-Mitrea.info" %>
  </small>
</div>
